
.container{
    display: grid;
    grid-auto-flow: column;
    border: 3px solid white;
}

.column{
    border-bottom: 3px solid white;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    border: 2px solid white;
    height: 100px;
    width: 250px;
    font-family: "Roboto", sans-serif;
}
